:root {
    --athensgray: #EEF0F1;
    --lilac: #EFCCFB;
    --saffron: #F5BD32;
    --bermuda: #82E4C6;
    --slateblue: #755ACD;
    --monsoon: #777777;
    --midnightexpress: #182437;
    --alpha: 0.7;
}

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
    background-color: var(--midnightexpress);
    color: var(--athensgray);
    font-family: Roboto, Ubuntu, 'Open Sans', sans-serif;
    padding: 2.5rem;

}

ol, ul {
	list-style: none;
}

#chatters .row ul {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(150px, 1fr) );
    gap: 1rem;
}

#chatters .row ul li {
    padding: 1rem;
    font-size: 14px;
    border: 1px solid var(--athensgray);
    background-color: var(--monsoon);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size-adjust: inherit;
    aspect-ratio: 1000/100;
}

#chatters .moderators h2:before {
    content: "";
    display: inline-block;
    background: url("https://static-cdn.jtvnw.net/badges/v1/3267646d-33f0-4b17-b3df-f923a41db1d0/1") no-repeat;
    background-size: 18px;
    width: 18px;
    height: 18px;
    margin: 0 6px 0 0;
}

#chatters .moderators ul li {
    background-color: var(--lilac);
    color: var(--midnightexpress);
}

#chatters .staff h2:before {
    content: "";
    display: inline-block;
    background: url("https://static-cdn.jtvnw.net/badges/v1/d97c37bd-a6f5-4c38-8f57-4e4bef88af34/1") no-repeat;
    background-size: 18px;
    width: 18px;
    height: 18px;
    margin: 0 6px 0 0;
}

#chatters .staff ul li {
    background-color: var(--bermuda);
    color: var(--midnightexpress);
}

#chatters .vips h2:before {
    content: "";
    display: inline-block;
    background: url("https://static-cdn.jtvnw.net/badges/v1/b817aba4-fad8-49e2-b88a-7cc744dfa6ec/2") no-repeat;
    background-size: 18px;
    width: 18px;
    height: 18px;
    margin: 0 6px 0 0;
}

#chatters .vips ul li {
    background-color: var(--saffron);
    color: var(--midnightexpress);
}

#chatters .viewers h2:before {
    content: "";
    display: inline-block;
    background: url("https://assets.help.twitch.tv/glitchwhite.png") no-repeat;
    background-size: 18px;
    width: 18px;
    height: 18px;
    margin: 0 6px 0 0;
}