:root {
	--athensgray: #eef0f1;
	--lilac: #efccfb;
	--saffron: #f5bd32;
	--bermuda: #82e4c6;
	--slateblue: #755acd;
	--monsoon: #777777;
	--midnightexpress: #182437;
	--rockblue: #9FB2C9;
	--somegrey: #212121;
	--darkpastelgreen: #00B020;
	--fashionfuchsia: #E200B7;
	--black: #000;
	--alpha: 0.7;
}

html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

body {
	line-height: 1;
	background-color: var(--midnightexpress);
	color: var(--athensgray);
	font-family: Roboto, Ubuntu, 'Open Sans', sans-serif;
	padding: 2.5rem;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

h3 {
	font-size: 1.5rem;
}

label {
	display: none;
	margin-right: 1rem;
}
input {
	font-size: 0.5rem;
	padding: 0.5rem;
	border-radius: 10px;
}

.horizontal-space {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}

.hide {
	display: none;
}

#lastupdate  {
	color: var(--monsoon);
	font-style: italic;
	width:100%;
}

.broadcaster {
	display:flex;
	align-items: top;
}

.reset-icon {
	height: 25px;
    margin: 25px 0 0 5px;
	cursor: pointer;
	color: var(--lilac);
}

h2#broadcaster-name {
	font-size: 4rem;
	line-height: 0;
}

.user-search input {
	width: 200px;
	font-size: 1rem;
}

.broadcaster-search {
	margin-right: 0.5rem;
	padding: 1rem;
	font-size: 1rem;
	float: left;
	width: 350px;
}

.broadcaster-search-wrapper {
	display: flex;
	float: left;
}
@media screen and (max-width: 560px) {
	.broadcaster-search-wrapper {
		flex-direction:column;
		width: 100%;
		gap:1rem;
	}
	.broadcaster-search{
		flex-grow: 1;
		width: unset;
		margin-right: 0;
	}
	#broadcaster-button{
		height:55px;	
	}
  }

.button {
	border-style: none;
	padding: 0 2rem;
	background: var(--saffron);
	border-radius: 7px;
	align-items: center;
	transition: all 0.5s;
	font-size: 1rem;
}

.button:hover {
	background: var(--athensgray);
	cursor: pointer;
}

#totalcount {
	font-size: 2rem;
	font-weight: 600;
	color: var(--bermuda);
}

.header {
	margin-bottom: 40px;
}
.header__wrapper{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: space-between;
	gap: 1rem;
}
.header__wrapper h1{
	margin:0;
}
@media screen and (max-width: 838px) {
	.user-search{
		order:3;
	}
}

#example {
	display: flex;
	flex-direction: column;
	font-style: italic;
}

#example .row ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 1rem;
	padding-left: 0;
}

#example .row ul li {
	padding: 1rem;
	font-size: 14px;
	border: 1px solid var(--athensgray);
	background-color: var(--monsoon);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size-adjust: inherit;
	aspect-ratio: 1000/100;
}

#example .bot-user {
	background-color: var(--slateblue) !important;
	color: var(--athensgray) !important;
	border: none !important;
  }

#example .service-user {
	background-color: var(--rockblue) !important;
	color: var(--midnightexpress) !important;
	border: none !important;
  }

#example .custom-user {
	background-color: var(--saffron) !important;
	color: var(--midnightexpress) !important;
	border: none !important;
  }

#chatters {
	display: flex;
	flex-direction: column;
	margin-bottom: 225px;
}

#chatters .row ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 1rem;
	padding-left: 0;
}

#chatters .row ul li {
	padding: 1rem;
	font-size: 14px;
	background-color: var(--monsoon);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size-adjust: inherit;
	aspect-ratio: 1000/100;
}

#chatters .bot-user {
	background-color: var(--slateblue) !important;
  }

#chatters .bot-user a {
	color: var(--athensgray) !important;	
}

#chatters .service-user {
	background-color: var(--rockblue) !important;
  }

#chatters .service-user a {
	color: var(--midnightexpress) !important;	
}

#chatters .custom-user {
	background-color: var(--saffron) !important;
}

#chatters .custom-user a {
	color: var(--midnightexpress) !important;	
}

#chatters .moderators {
	order: 1;
}

#chatters .moderators h3:before {
	content: '';
	display: inline-block;
	background: url('https://static-cdn.jtvnw.net/badges/v1/3267646d-33f0-4b17-b3df-f923a41db1d0/1')
		no-repeat;
	background-size: 18px;
	width: 18px;
	height: 18px;
	margin: 0 6px 0 0;
}

#chatters .moderators ul li {
	background-color: var(--darkpastelgreen);
	color: var(--athensgray);
}

#chatters .moderators ul li a {
	color: var(--athensgray);
}

#chatters .staff {
	order: 2;
}

#chatters .staff h3:before {
	content: '';
	display: inline-block;
	background: url('https://static-cdn.jtvnw.net/badges/v1/d97c37bd-a6f5-4c38-8f57-4e4bef88af34/1')
		no-repeat;
	background-size: 18px;
	width: 18px;
	height: 18px;
	margin: 0 6px 0 0;
}

#chatters .staff ul li {
	background-color: var(--black);
	color: var(--athensgray);
}

#chatters .staff ul li a {
	color: var(--athensgray);
}

#chatters .vips {
	order: 3;
}

#chatters .vips h3:before {
	content: '';
	display: inline-block;
	background: url('https://static-cdn.jtvnw.net/badges/v1/b817aba4-fad8-49e2-b88a-7cc744dfa6ec/2')
		no-repeat;
	background-size: 18px;
	width: 18px;
	height: 18px;
	margin: 0 6px 0 0;
}

#chatters .vips ul li {
	background-color: var(--fashionfuchsia);
	color: var(--athensgray);
}
#chatters .vips ul li a {
	color: var(--athensgray);
}

#chatters .viewers {
	order: 4;
}

#chatters .viewers h3:before {
	content: '';
	display: inline-block;
	background: url('https://assets.help.twitch.tv/glitchwhite.png') no-repeat;
	background-size: 18px;
	width: 18px;
	height: 18px;
	margin: 0 6px 0 0;
}

#chatters .viewers a {
	color: var(--athensgray);
}

.footer {
	position: fixed;
	bottom: 0;
	background-color: var(--midnightexpress);
	padding: 0 2.5rem;
    left: 0;
    right: 0;
	border-top: 3px solid var(--athensgray);
}
.main-footer--hide{
	bottom:-240px;
	transition: all 0.5s;
}
.main-footer--hide .footer--hide{
	top:-35px;
}

.highlight-info {
	padding-bottom: 30px;
}

.userlist input {
	width: 490px;
	font-size: 1rem;
}

@media screen and (max-width: 562px) {
	.main-footer--hide{
		bottom:-203px;
	}
}
@media screen and (max-width: 396px){
	.main-footer--hide{
		bottom:-312px;
	}
}
.footer--hide{
	position: absolute;
	top: -20px;
	right: 20px;
	display:flex;
	align-items: center;
	cursor:pointer;
	padding:.5rem;
	background-color: var(--saffron);
	color: var(--midnightexpress);
}
.footer--hide__text{
	margin-right:0.5rem;
}
.footer--hide__icon{
	height:20px;
}

/* loader styling */
#loader-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(51, 51, 51, 0.7);
}

#loader-wrapper.loader-hide {
	display: none;
}

.loading {
	height: 120px;
	padding: 0px;
	width: 160px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 10px;
	box-sizing: border-box;
}

@keyframes loading {
	0% {
		background-color: var(--bermuda);
	}
	30% {
		background-color: var(--saffron);
	}
	50% {
		height: 100px;
		margin-top: 0px;
	}
	80% {
		background-color: var(--lilac);
	}
	100% {
		background-color: var(--slateblue);
	}
}

.loading .loading-1 {
	height: 10px;
	width: 30px;
	background-color: #fff;
	display: inline-block;
	margin-top: 90px;
	-webkit-animation: loading 2.5s infinite;
	-moz-animation: loading 2.5s infinite;
	-o-animation: loading 2.5s infinite;
	animation: loading 2.5s infinite;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

.loading .loading-2 {
	height: 10px;
	width: 30px;
	background-color: #fff;
	display: inline-block;
	margin-top: 90px;
	-webkit-animation: loading 2.5s infinite;
	-moz-animation: loading 2.5s infinite;
	-o-animation: loading 2.5s infinite;
	animation: loading 2.5s infinite;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.loading .loading-3 {
	height: 10px;
	width: 30px;
	background-color: #fff;
	display: inline-block;
	margin-top: 90px;
	-webkit-animation: loading 2.5s infinite;
	-moz-animation: loading 2.5s infinite;
	-o-animation: loading 2.5s infinite;
	animation: loading 2.5s infinite;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	-webkit-animation-delay: 0.75s;
	animation-delay: 0.75s;
}

.loading .loading-4 {
	height: 10px;
	width: 30px;
	background-color: #fff;
	display: inline-block;
	margin-top: 90px;
	-webkit-animation: loading 2.5s infinite;
	-moz-animation: loading 2.5s infinite;
	-o-animation: loading 2.5s infinite;
	animation: loading 2.5s infinite;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.loading .loading-5 {
	height: 10px;
	width: 30px;
	background-color: #fff;
	display: inline-block;
	margin-top: 90px;
	-webkit-animation: loading 2.5s infinite;
	-moz-animation: loading 2.5s infinite;
	-o-animation: loading 2.5s infinite;
	animation: loading 2.5s infinite;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	-webkit-animation-delay: 1.25s;
	animation-delay: 1.25s;
}

.loading .loading-6 {
	height: 10px;
	width: 30px;
	background-color: #fff;
	display: inline-block;
	margin-top: 90px;
	-webkit-animation: loading 2.5s infinite;
	-moz-animation: loading 2.5s infinite;
	-o-animation: loading 2.5s infinite;
	animation: loading 2.5s infinite;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.loading .loading-7 {
	height: 10px;
	width: 30px;
	background-color: #fff;
	display: inline-block;
	margin-top: 90px;
	-webkit-animation: loading 2.5s infinite;
	-moz-animation: loading 2.5s infinite;
	-o-animation: loading 2.5s infinite;
	animation: loading 2.5s infinite;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	-webkit-animation-delay: 1.75s;
	animation-delay: 1.75s;
}

.loading .loading-8 {
	height: 10px;
	width: 30px;
	background-color: #fff;
	display: inline-block;
	margin-top: 90px;
	-webkit-animation: loading 2.5s infinite;
	-moz-animation: loading 2.5s infinite;
	-o-animation: loading 2.5s infinite;
	animation: loading 2.5s infinite;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}

.loading .loading-9 {
	height: 10px;
	width: 30px;
	background-color: #fff;
	display: inline-block;
	margin-top: 90px;
	-webkit-animation: loading 2.5s infinite;
	-moz-animation: loading 2.5s infinite;
	-o-animation: loading 2.5s infinite;
	animation: loading 2.5s infinite;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	-webkit-animation-delay: 2.25s;
	animation-delay: 2.25s;
}

.loading .loading-10 {
	height: 10px;
	width: 30px;
	background-color: #fff;
	display: inline-block;
	margin-top: 90px;
	-webkit-animation: loading 2.5s infinite;
	-moz-animation: loading 2.5s infinite;
	-o-animation: loading 2.5s infinite;
	animation: loading 2.5s infinite;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
